body{
    margin:0px;
}
div{
    position: relative;
}
div>img:last-child{
position: absolute;
left:0px;
opacity:1;
z-index: -1;
overflow: hidden;
}
/* div>img:last-child:hover{
    transition: all 4s;
    opacity:1;
} */
div:first-child:hover{
    animation: liwei linear 5s 1;

}
@keyframes liwei{
    from{
        left:0px;
    }
    20%{
        left:-50px;
    }
    40%{
        left:-100px;
    }
    60%{
        left:-150px;
    }
    80%{
        left:-200px;
    }
    to{
left:-229px;
    }
}