div{
    width:500px;
    height:500px;
    outline:1px solid red;
    margin:auto;
}
div>section:first-child{
    width:50%;
    height:100%;
    float:left;
}
div>section:last-child{
    width:50%;
    height:100%;
    float:right;
    background-color: aqua;
}
aside:nth-child(1){
    width:100%;
    height:25%;
    background-color:purple;
}
aside:nth-child(2){
    width:100%;
    height:25%;
    background-color: rgb(196, 28, 28);
}
aside:nth-child(3){
    width:100%;
    height:25%;
    background-color:green;
}
aside:nth-child(4){
    width:100%;
    height:25%;
    background-color:blue;
}
aside{
    margin:0px;
}

aside:nth-child(1)>div:first-child{
    width: 50%;
    height:100%;  
    float: left;
}
p{
    margin: 0px;
}
aside:nth-child(1)>div:last-child{
    width: 50%;
    height:100%;
    background-color:rgb(122, 233, 18);
    float: right;
}
div>p:first-child{
    width:100%;
    height: 50%;
    /* float: left; */
}
div>p:last-child{
    width:100%;
    height: 50%;
    background-color: aqua;
    float: right;
}
aside:nth-child(2)>div:first-child{
    width: 50%;
    height:100%;  
    float: left;
    
}
aside:nth-child(2)>div:last-child{
    width: 50%;
    height:100%;
    background-color:rgb(104, 98, 129);
    float: right;
}
aside:nth-child(2)>div:first-child>p:first-child{
    width:100%;
    height: 50%;
    float: left;
}
aside:nth-child(2)>div:first-child>p:last-child{
    width:100%;
    height: 50%;
    background-color: blue;
    float: right;
}
aside:nth-child(3)>div:first-child{
    width: 50%;
    height:100%;  
    float: left;
    background-color:gold;
}
aside:nth-child(3)>div:last-child{
    width: 50%;
    height:100%;
   
    float: right;
}
aside:nth-child(3)>div:first-child>p:first-child{
    width:100%;
    height: 50%;
    /* float: left; */
}
aside:nth-child(3)>div:first-child>p:last-child{
    width:100%;
    height: 50%;
    background-color: blueviolet;
    float: right;
}
aside:nth-child(4)>div:first-child{
    width: 50%;
    height:100%;  
    float: left;
}
aside:nth-child(4)>div:last-child{
    width: 50%;
    height:100%;
    background-color:rgb(224, 13, 161);
    float: right;
}
aside:nth-child(4)>div:first-child>p:first-child{
    width:100%;
    height: 50%;
    /* float: left; */
}
aside:nth-child(4)>div:first-child>p:last-child{
    width:100%;
    height: 50%;
    background-color:orange;
    float: right;
}
