/* 元素选择器，标题颜色和位置居中 */
h1{
    color:blue;
    Text-align:center;
}
div{
    text-align:center;
}
/* a标签未点击是红色，字体像素25px */
a:link{
    color:red;
    font-size:25px;
}
/* a标签访问后绿色 */
a:visited{
    color:green;
}
/* a标签悬停紫色 */
a:hover{
    color:purple;
}
/* a标签点击时粉色 */
a:active{
    color:pink;
}
/* 类选择器字体紫色，像素34，位置居中 */
.A1{
    color: purple;font-size: 34px;text-align: center;
}
/* 类选择器yemian3.html 
 p元素颜色金色，字体像素35，位置居中 */
.A2{
    color:gold;
    font-size: 35px;
    text-align: center;
}
/* body背景色天蓝色 */
body{
    background-color:skyblue;
}
