i{
    display:inline-block;
    width: 70px;
    height:75px;
    outline:1px solid red;
    margin: auto;
    background-image: url("../IMG/雪碧图练习/13303893_132302673865_2.jpg");
    background-position: -45px -177px;
}
i:hover{
    background-position:-414px -177px;
    outline:1px solid rgb(15, 15, 15);
}

/* q{
    display:inline-block;
    width: 63px;
    height:80px;
    outline:1px solid rgb(22, 216, 97);
    margin: auto;
    background-image: url("../IMG/雪碧图练习/13303893_132302673865_2.jpg");
    background-position: -544px -300px;
}
q:hover{
    width: 61px;
    height:56px;
    background-position:-29px -109px;
    outline:1px solid rgb(62, 18, 143);
    background-image: url("../IMG/雪碧图练习/10-140P323040K23.jpg");
} */
