body{
    line-height:2;
    width:100%;
    /* padding: 20px 50px; */
    background-color:#d9dae0;
    
}
.box1{
  /* width: calc(100% - 100px); */
  background-color: #d9d9d9;
  margin:20px 50px;
  overflow: hidden;
  box-sizing: border-box;
}
h1 {
  font-size: 42px;
  color: #484759;
}
div {
  border-top: 1px solid #484759;
  overflow: hidden;
}
.box2 {
  box-sizing: border-box;
  padding:0px 20px;
  border-left: 10px solid #484759;
  margin: 30px;
  color:#615e77;
}
h2 {
    line-height:1;
  width: 140px;
  font-size: 32px;
  box-sizing: border-box;
  text-align: center;
  border-left: 10px solid #605f77;
  border-right: 10px solid #605f77;
  margin:0px;
}
section{
    margin:30px 0px;
    color:#615e77;
}
aside{
    background-color:#a6a6a6;
    /* height:500px; */
    box-sizing:border-box;
    padding:20px;
}

a:link{
    color:#651177;
   
}
a:visited{
    color:#651177;  
}
a:hover{
    color:#484759;
}

